@model WalkingDinnerWebApplication.ViewModels.EventPlanViewModel
@{
    ViewBag.Title = "EventPlan Details";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-lg-12">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Naam)</dt>
            <dd>@Html.DisplayFor(model => model.Naam)</dd>

            <dt>@Html.DisplayNameFor(model => model.AantalDeelnemers)</dt>
            <dd>@Html.DisplayFor(model => model.AantalDeelnemers)</dd>

            <dt>@Html.DisplayNameFor(model => model.AantalGangen)</dt>
            <dd>@Html.DisplayFor(model => model.AantalGangen)</dd>

            <dt>@Html.DisplayNameFor(model => model.AantalGroepen)</dt>
            <dd>@Html.DisplayFor(model => model.AantalGroepen)</dd>

            <dt>@Html.DisplayNameFor(model => model.AantalDuosPerGroep)</dt>
            <dd>@Html.DisplayFor(model => model.AantalDuosPerGroep)</dd>
        </dl>
    </div>
</div>

@using (Html.BeginForm("Cancel", "EventPlan", FormMethod.Post))
{
    <fieldset>
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit">Annuleer Plan</button>
    </fieldset>
}

@using (Html.BeginForm("CreateSchema", "EventPlan", FormMethod.Post))
{
    <fieldset>
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit">Creëer Schema</button>
    </fieldset>
}
